* {
  margin: 0px;
  padding: 0px;
  font-family: Arial;
}

body {
  background: #f4f2ec;
}

#Cabeçalho {
  background: url(Imagens/fundo.png);
  width: 100%;
  height: 158px;
}

#Cabeçalho .Imagem_Cabeçalho img {
  margin: 31px 0px 0px 392px;
}

#Navegação_Horizontal {
  float: right;
  margin: -22px 450px 0px 0px;
}

#Navegação_Horizontal li {
  margin: 0px 15px 0px 0px;
}

a {
  color: #af670a;
  text-decoration: none;
  font-size: 12px;
  font-weight: bolder;
}

ul a:hover {
  color: #237115;
  border-bottom: 1px solid #535858;
  padding: 5px 0px;
}

li {
  display: inline;
}

#Imagens {
  clear: both;
}

.Flexbox_Imagens {
  width: 1070px;
  margin: -73px 0px 0px 382px;
  display: flex;
}

.Flexbox_Imagens img {
  padding: 0px 10px;
}

#Conteúdo {
  margin: 5px 0px 0px 410px;
  width: 1062px;
  display: flex;
}

#Conteúdo .Esquerda1 {
  font-size: 14px;
  width: 356px;
}

#Conteúdo .Esquerda2 {
  font-size: 14px;
  width: 356px;
}

#Conteúdo .Direita {
  background: #cdc8b1;
  font-size: 14px;
  width: 350px;
  height: 180px;
}

h5 {
  color: #86521a;
  margin: 25px;
  font-weight: bolder;
}

input[type="date"] {
  width: 100px;
}

input[type="number"] {
  width: 30px;
  height: 20px;
}

input[type="button"] {
  background: #a09474;
  border: none;
  color: white;
  font-size: 20px;
  padding: 15px 0px;
  width: 290px;
  margin: 10px 0px 30px 30px;
}

span {
  margin: 0px 0px 0px 35px;
}

#Conteúdo h3 {
  color: green;
  padding: 10px 0px 20px 0px;
}

#Conteúdo h4 {
  color: green;
  padding: 10px 0px 20px 0px;
  margin: 20px 0px 0px 0px;
}

#Conteúdo li {
  display: block;
  padding: 0px;
  margin: 0px;
}

#Conteúdo ul {
  padding: 0px;
  margin: 0px;
}

#Conteúdo ul:hover {
  padding: 0px;
  margin: 0px;
}

#Conteúdo li a:hover {
  display: block;
  color: #237115;
  border: none;
  padding: 0px;
}

.Negrito {
  font-weight: bolder;
  margin: 0px;
  padding: 0px;
}

#Conteúdo ul li {
  font-size: 15px;
}

p {
  line-height: 20px;
}

p a {
  font-size: 13px;
}

p a:hover {
  color: green;
}

.Imagens {
  background: #f0e4dc;
}

.Imagens h6 {
  font-size: 12px;
  color: #87541d;
}

.Imagem-1-2 {
  display: flex;
  margin: 30px 0px 0px 50px;
}

.Imagem-1-2 img {
  padding: 0px 65px 0px 0px;
}

.Imagem-3-4 {
  display: flex;
  margin: 30px 0px 0px 50px;
}

.Imagem-3-4 img {
  padding: 0px 65px 0px 0px;
}
